<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>ClientId</key>
   <string>T3ZB9CndjKBAgG0VV9mSFTq3LPaXXU4k</string>
   <key>Domain</key>
   <string>dev-1y7dhb8a.eu.auth0.com</string>
</dict>
</plist>